body {
    background-color: rgb(107, 107, 241);
    font: normal 15pt Arial;
    

}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 100px;
    width: 300px;
    margin: 10%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.505);   
}

div {
    padding: 10px;
    text-align: left
    text
}

footer {
 color: white;
 text-align: center;
 font-style: italic ;
}